name: "Flake.lock: update Nix dependencies"

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '30 5 * * *'

jobs:
  nix-flake-update:
    permissions:
      contents: write
      id-token: write
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        # Important: Fetch full history so we can commit
        with:
          fetch-depth: 0

      - uses: DeterminateSystems/determinate-nix-action@main

      - uses: DeterminateSystems/magic-nix-cache-action@main

      - name: Update flake.lock
        run: nix flake update

      - name: Check for Changes
        id: git_status
        run: |
          if git diff --exit-code flake.lock; then
            echo "changed=false" >> $GITHUB_OUTPUT
          else
            echo "changed=true" >> $GITHUB_OUTPUT
          fi

      - name: Commit and Push
        if: steps.git_status.outputs.changed == 'true'
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          git add flake.lock
          git commit -m "chore(deps): Update Nix flake dependencies"
          git push
